@page
@model SearchAFile.Web.Pages.FileGroups.IndexModel

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center">
        <label class="fs-3 pe-3">File Groups</label>
        <form method="get">
            <div class="input-group">
                <input asp-for="search" class="form-control" type="search" placeholder="Search file groups..." onchange="if (this.value === '') {this.form.submit(); }" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="card-body p-0">

        <div class="p-3">
            <a asp-page="Create" class="btn btn-outline-success w-100">
                <i class="fa-solid fa-plus-circle"></i>
                Create File Group
            </a>
        </div>

        @if (Model.FileGroups != null
            && Model.FileGroups.Any())
        {
            <div style="margin-left: 40px; overflow-x: auto;">
                <table id="tblData" class="table table-striped m-0">
                    <thead>
                        <tr class="fw-bold" style="white-space: nowrap;">
                            <th class="cus-fixed-col-th border-0"></th>
                            <th></th>
                            <th class="text-center">
                                <a href="javascript:SortTable(2,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.FileGroups[0].Active)
                                    <i id="iSort2" class="fa-solid fa-sort-up cus-sort-icon"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(3,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.FileGroups[0].FileGroup1)
                                    <i id="iSort3" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(4,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.FileGroups[0].Created)
                                    <i id="iSort4" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(5,'N', 'tblData');">
                                    @Html.DisplayNameFor(model => model.FileGroups[0].CreatedByUserId)
                                    <i id="iSort5" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th class="text-center">
                                <a href="javascript:SortTable(6,'N', 'tblData');">
                                    @Html.DisplayNameFor(model => model.FileGroups[0].Files)
                                    <i id="iSort6" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FileGroups)
                        {
                            <tr style="white-space: nowrap;">
                                <td class="cus-fixed-col-td">
                                    <div class="dropdown dropend">
                                        <button type="button" class="btn py-1 m-0" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical" style="font-size: larger;"></i>
                                        </button>
                                        <div class="dropdown-menu" style="min-width: unset;">
                                            <a asp-page="./Details" asp-route-id="@item.FileGroupId" class="btn dropdown-item" title="Details">
                                                <i class="fa-solid fa-eye cus-text-primary"></i>
                                                &nbsp;
                                                Details
                                            </a>
                                            <a asp-page="./Edit" asp-route-id="@item.FileGroupId" class="btn dropdown-item" title="Edit">
                                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                                &nbsp;
                                                Edit
                                            </a>
                                            <a asp-page="./Delete" asp-route-id="@item.FileGroupId" class="btn dropdown-item" title="Delete">
                                                <i class="fa-solid fa-trash text-danger"></i>
                                                &nbsp;
                                                Delete
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a asp-page="/Files/Index" asp-route-id="@item.FileGroupId" class="btn dropdown-item" title="Files">
                                                <i class="fa-solid fa-file text-primary"></i>
                                                &nbsp;
                                                Files (@item.Files.Count())
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle py-0" style="width: 0;">
                                    @if (item.ImageUrl != null)
                                    {
                                        <a href="~/FileGroups/@item.ImageUrl" target="_blank" style="cursor: pointer;">
                                            <img alt="logo" src="~/FileGroups/@item.ImageUrl" style="height: 35px;" title="<img src='/FileGroups/@item.ImageUrl' height='100' />" data-bs-custom-class="cus-tooltip-light" data-bs-html="true" data-bs-placement="top" data-bs-toggle="tooltip" />
                                        </a>
                                    }
                                </td>
                                <td class="align-middle text-center cus-no-select" style="width: 0;">
                                    @if (Convert.ToBoolean(item.Active))
                                    {
                                        <span class="badge bg-success px-4 w-100">
                                            Active
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger px-4 w-100">
                                            Inactive
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    }
                                </td>
                                <td class="align-middle">
                                    <label>@item.FileGroup1</label>
                                </td>
                                <td class="align-middle">
                                    <label>@item.Created?.ToString("dddd M/d/yyyy")</label>
                                </td>
                                <td class="align-middle">
                                    <label>@item.CreatedByUserFullName</label>
                                </td>
                                <td class="align-middle text-center">
                                    <label>@item.Files.Count()</label>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="mb-3 text-center text-secondary cus-no-select">
                <i>No existing file groups</i>
            </div>
        }

    </div>

</div>