@page
@model SearchAFile.Web.Pages.Collections.DetailsModel

<div class="card">

    <div class="card-header d-flex align-items-center cus-no-select">
        <a class="pe-2" href="~/Collections/@(string.IsNullOrEmpty(Model.Collection.ImageUrl) ? "Generic.jpg" : Model.Collection.ImageUrl)" target="_blank" title="View Image">
            <img src="~/Collections/@(string.IsNullOrEmpty(Model.Collection.ImageUrl) ? "Generic.jpg" : Model.Collection.ImageUrl)" style="border-radius: 50%; height: 75px; width: 75px;" />
        </a>
        <label class="fs-5 ms-auto">
            <i class="fa-solid fa-eye cus-text-primary-no-hover"></i> @Model.Collection.Collection1
        </label>
    </div>

    <div class="card-body cus-bootstrap-table-striped p-0">

        <div class="row align-items-center m-0">
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <div class="form-control div-disabled">
                        @if (Model.Collection.Active)
                        {
                            <span class="badge bg-success cus-no-select w-100">
                                Active
                                <i class="fa-solid fa-check-circle"></i>
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-danger cus-no-select w-100">
                                Inactive
                                <i class="fa-solid fa-xmark-circle"></i>
                            </span>
                        }
                    </div>
                    <label asp-for="Collection.Active" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <input type="text" asp-for="Collection.Collection1" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Collection.Collection1)" disabled />
                    <label asp-for="Collection.Collection1" class="control-label" show-asterisk="true"></label>
                    <span asp-validation-for="Collection.Collection1" class="text-danger"></span>
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <div class="form-control div-disabled">
                        @if (Model.Collection.Private)
                        {
                            <span class="badge bg-success cus-no-select w-100">
                                Private
                                <i class="fa-solid fa-lock"></i>
                            </span>
                        }
                        else
                        {
                            <span class="badge bg-warning cus-no-select w-100">
                                Public
                                <i class="fa-solid fa-lock-open"></i>
                            </span>
                        }
                    </div>
                    <label asp-for="Collection.Private" class="control-label" show-asterisk="true"></label>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="cus-col col-12">
                <label class="fw-bold fs-5 control-label">Files (<span class="@(Model.Collection.Files.Any() ? "" : "text-danger")">@Model.Collection.Files.Count()</span>)</label>
                <hr class="my-1" />
                @if (Model.Collection.Files.Any())
                {
                    <ul class="mt-2 mb-0">
                        @foreach (var File in Model.Collection.Files)
                        {
                            <li>
                                <a href="/Files/@File.FileId.@File.Extension" target="_blank">@File.File1</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="mt-1 cus-no-select">
                        <i class="text-secondary">No existing files</i>
                    </div>
                }
            </div>
        </div>

    </div>

    <div class="card-footer text-center cus-no-select">
        <a asp-page="./Index" class="btn btn-outline-secondary">
            <i class="fa-solid fa-arrow-left"></i>
            Back to List
        </a>
        <a asp-page="./Edit" asp-route-id="@Model.Collection.CollectionId" class="btn btn-primary">
            Edit
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </div>

</div>