@page
@model SearchAFile.Web.Pages.Users.IndexModel
@using SearchAFile.Core.Domain.Entities

<div class="card">

    <div class="card-header d-flex justify-content-between align-items-center cus-no-select" style="border-bottom: 3px solid var(--secondary-color);">
        <label class="fs-5 pe-3" style="white-space: nowrap;"><i class="fa-solid fa-users cus-text-primary-no-hover"></i> Users</label>
        <form method="get">
            <div class="input-group">
                <input asp-for="search" class="form-control" type="search" placeholder="Search users..." onchange="if (this.value === '') {this.form.submit(); }" />
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="card-body p-0">

        <div class="p-3">
            <a asp-page="Create" class="btn btn-outline-success w-100">
                <i class="fa-solid fa-plus-circle"></i>
                Create User
            </a>
        </div>

        @if (Model.Users != null
            && Model.Users.Any())
        {
            <div style="margin-left: 40px; overflow-x: auto;">
                <table id="tblData" class="table table-striped m-0">
                    <thead>
                        <tr class="fw-bold" style="white-space: nowrap;">
                            <th class="cus-fixed-col-th border-0"></th>
                            <th></th>
                            <th class="text-center">
                                <a href="javascript:SortTable(2,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].Active)
                                    <i id="iSort2" class="fa-solid fa-sort-up cus-sort-icon"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(3,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].FullName)
                                    <i id="iSort3" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(4,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].EmailAddress)
                                    <i id="iSort4" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:SortTable(5,'T', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
                                    <i id="iSort5" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th class="text-center">
                                <a href="javascript:SortTable(6,'N', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].EmailVerified)
                                    <i id="iSort6" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                            <th class="text-center">
                                <a href="javascript:SortTable(7,'N', 'tblData');">
                                    @Html.DisplayNameFor(model => model.Users[0].Role)
                                    <i id="iSort7" class="fa-solid fa-sort-up cus-sort-icon" style="color: gray;"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr style="white-space: nowrap;">
                                <td class="cus-fixed-col-td">
                                    <div class="dropdown dropend">
                                        <button type="button" class="btn py-1 m-0" data-bs-boundary="viewport" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-ellipsis-vertical" style="font-size: larger;"></i>
                                        </button>
                                        <div class="dropdown-menu" style="min-width: unset;">
                                            <a asp-page="./Details" asp-route-id="@item.UserId" class="btn dropdown-item" title="Details">
                                                <i class="fa-solid fa-eye cus-text-primary-no-hover"></i>
                                                &nbsp;
                                                Details
                                            </a>
                                            <a asp-page="./Edit" asp-route-id="@item.UserId" class="btn dropdown-item" title="Edit">
                                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                                &nbsp;
                                                Edit
                                            </a>
                                            @if (!HttpContext.Session.GetObject<UserDto>("User").UserId.Equals(item.UserId))
                                            {
                                                <a asp-page="./Delete" asp-route-id="@item.UserId" class="btn dropdown-item" title="Delete">
                                                    <i class="fa-solid fa-trash text-danger"></i>
                                                    &nbsp;
                                                    Delete
                                                </a>
                                            }
                                            <div class="dropdown-divider"></div>
                                            @if (!item.EmailVerified)
                                            {
                                                <button class="btn dropdown-item" type="button" onclick="ConfirmResendEmailVerificationEmail('@item.UserId', '@item.FullName.EscapeJsString()', '@item.EmailAddress.EscapeJsString()');" title="Resend email verification email">
                                                    <i class="fa-solid fa-envelope-circle-check text-info"></i>
                                                    &nbsp;
                                                    Resend Email Verification Email
                                                </button>
                                            }
                                            <button class="btn dropdown-item" type="button" onclick="ConfirmPasswordReset('@item.UserId', '@item.FullName.EscapeJsString()', '@item.EmailAddress.EscapeJsString()');" title="Send password reset email">
                                                <i class="fa-solid fa-paper-plane text-info"></i>
                                                &nbsp;
                                                Send Password Reset Email
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle py-0" style="width: 0;">
                                    @if (string.IsNullOrEmpty(item.HeadshotPath)) 
                                    {
                                        <a href="~/UserFiles/Generic.jpg" target="_blank" style="cursor: pointer;">
                                            <img alt="headshot" src="~/UserFiles/Generic.jpg" style="max-height: 35px; max-width: 100px;" title="<img src='/UserFiles/Generic.jpg' height='100' />" data-bs-custom-class="cus-tooltip-light" data-bs-html="true" data-bs-placement="top" data-bs-toggle="tooltip" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="~/UserFiles/@item.HeadshotPath" target="_blank" style="cursor: pointer;">
                                            <img alt="headshot" onerror="this.onerror=null;this.src='/UserFiles/Generic.jpg';" src="~/UserFiles/@item.HeadshotPath" style="max-height: 35px; max-width: 100px;" title="<img src='/UserFiles/@item.HeadshotPath' height='100' />" data-bs-custom-class="cus-tooltip-light" data-bs-html="true" data-bs-placement="top" data-bs-toggle="tooltip" />
                                        </a>
                                    }
                                </td>
                                <td class="align-middle text-center cus-no-select" style="width: 0;">
                                    @if (Convert.ToBoolean(item.Active))
                                    {
                                        <span class="badge bg-success px-4 w-100">
                                            Active
                                            <i class="fa-solid fa-check"></i>
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger px-4 w-100">
                                            Inactive
                                            <i class="fa-solid fa-xmark"></i>
                                        </span>
                                    }
                                </td>
                                <td class="align-middle">
                                    <label>@item.FullName</label>
                                </td>
                                <td class="align-middle">
                                    <a href="mailto:@item.EmailAddress">@item.EmailAddress</a>
                                </td>
                                <td class="align-middle">
                                    <label>@item.PhoneNumber</label>
                                </td>
                                <td class="align-middle text-center cus-no-select" style="width: 0;">
                                    @if (Convert.ToBoolean(item.EmailVerified))
                                    {
                                        <lable class="d-none">0</lable>
                                        <i class="fa-solid fa-check-circle text-success"></i>
                                    }
                                    else
                                    {
                                        <lable class="d-none">1</lable>
                                        <i class="fa-solid fa-xmark-circle text-danger"></i>
                                    }
                                </td>
                                <td class="align-middle text-center cus-no-select" style="width: 0;">
                                    <span class="badge bg-success cus-no-select px-4 w-100 @(item.Role.Equals("System Admin") ? "bg-danger" : item.Role.Equals("Admin") ? "bg-warning" : "cus-bg-primary")">
                                        @item.Role
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="mb-3 text-center text-secondary cus-no-select">
                <i>No existing users</i>
            </div>
        }

    </div>

</div>

<input id="itemID" type="hidden" name="id" />

@* Verification Email Modal *@
<div class="modal fade" id="divResendEmailVerificationEmailModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 card">

            <div class="card-header d-flex align-items-center cus-no-select fs-6" style="background-color: var(--primary-color); border-bottom: 2px solid var(--secondary-color);">
                <label class="cus-card-header h-auto cus-text-secondary-text-no-hover">
                    <i class="fa-solid fa-paper-plane fs-5 me-1 cus-text-secondary-text-no-hover"></i>
                    Resend Email Verification Email
                </label>
                <button id="btnResetClose" type="button" class="btn p-0 m-0 ms-auto cus-text-secondary-text" data-bs-dismiss="modal" data-bs-target="divResendEmailVerificationEmailModal" style="line-height: 1;">
                    <i class="fa-solid fa-xmark fs-4"></i>
                </button>
            </div>

            <div class="modal-body text-center">
                <label id="lblResendEmailVerificationEmailMessage"></label>
                <label class="pt-2">Click 'OK' to resend the email verification email. Click 'Cancel' to cancel.</label>
            </div>

            <div class="card-footer text-center cus-no-select">
                <button id="btnReset" class="btn btn-outline-success" type="button" onclick="ResendEmailVerificationEmail($('#itemID').val());" style="min-width: 25%;">
                    <span id="lblReset" style="color: unset;">
                        OK
                        <i class="fa-solid fa-check-circle"></i>
                    </span>
                    <img id="imgReset" src="~/SystemFiles/loading.gif" style="display: none;" height="20px" width="20px" />
                </button>
                <button id="btnResetCancel" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-target="divResendEmailVerificationEmailModal" style="min-width: 25%;" title="Cancel">
                    Cancel
                    <i class="fa-duotone fa-solid fa-ban"></i>
                </button>
            </div>

        </div>
    </div>
</div>

@* Password Reset Modal *@
<div class="modal fade" id="divPasswordResetModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 card">

            <div class="card-header d-flex align-items-center cus-no-select fs-6" style="background-color: var(--primary-color); border-bottom: 2px solid var(--secondary-color);">
                <label class="cus-card-header h-auto cus-text-secondary-text-no-hover">
                    <i class="fa-solid fa-paper-plane fs-5 me-1 cus-text-secondary-text-no-hover"></i>
                    Send Password Reset Email
                </label>
                <button id="btnResetClose" type="button" class="btn p-0 m-0 ms-auto cus-text-secondary-text" data-bs-dismiss="modal" data-bs-target="divPasswordResetModal" style="line-height: 1;">
                    <i class="fa-solid fa-xmark fs-4"></i>
                </button>
            </div>

            <div class="modal-body text-center">
                <label id="lblPasswordResetMessage"></label>
                <label class="pt-2">Click 'OK' to send the password reset email. Click 'Cancel' to cancel.</label>
            </div>

            <div class="card-footer text-center cus-no-select">
                <button id="btnReset" class="btn btn-outline-success" type="button" onclick="PasswordReset($('#itemID').val());" style="min-width: 25%;">
                    <span id="lblReset" style="color: unset;">
                        OK
                        <i class="fa-solid fa-check-circle"></i>
                    </span>
                    <img id="imgReset" src="~/SystemFiles/loading.gif" style="display: none;" height="20px" width="20px" />
                </button>
                <button id="btnResetCancel" type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" data-bs-target="divPasswordResetModal" style="min-width: 25%;" title="Cancel">
                    Cancel
                    <i class="fa-duotone fa-solid fa-ban"></i>
                </button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        function ConfirmResendEmailVerificationEmail(id, item, email) {

            $('#lblResendEmailVerificationEmailMessage').html('Are you sure you want to resend an email verification email to<br /><b>' + item + ' (' + email + ')</b>?');
            $('#itemID').val(id);

            // Show the modal.
            $('#divResendEmailVerificationEmailModal').modal('show');
        }

        function ResendEmailVerificationEmail(id) {

            $('#btnReset').prop('disabled', true);
            $('#btnResetCancel').prop('disabled', true);
            $('#btnResetClose').prop('disabled', true);
            $('#lblReset').toggle();
            $('#imgReset').toggle();

            window.top.ClearToast();

            $.ajax({
                type: 'GET',
                url: PageURL + '?handler=ResendEmailVerificationEmail',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (response) {
                    // Only handle successful outcomes here
                    window.top.ShowSnack('success', 'Email verification email successfully sent.', 7000, true);

                    $('#itemID').val(null);
                    CloseModal();
                    ReloadData();
                },
                error: function (xhr) {

                    let message = "An error occurred.";

                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        message = xhr.responseJSON.error;
                    }

                    window.top.ShowToast('danger', 'Error!', message, 0, false);
                    StopLoadingAll();
                },
                complete: function () {

                    $('#lblReset').show();
                    $('#imgReset').hide();
                    $('#btnReset').prop('disabled', false);
                    $('#btnResetCancel').prop('disabled', false);
                    $('#btnResetClose').prop('disabled', false);
                }
            });
        }

        function ConfirmPasswordReset(id, item, email) {

            $('#lblPasswordResetMessage').html('Are you sure you want to send a password reset email to<br /><b>' + item + ' (' + email + ')</b>?');
            $('#itemID').val(id);

            // Show the modal.
            $('#divPasswordResetModal').modal('show');
        }

        function PasswordReset(id) {

            $('#btnReset').prop('disabled', true);
            $('#btnResetCancel').prop('disabled', true);
            $('#btnResetClose').prop('disabled', true);
            $('#lblReset').toggle();
            $('#imgReset').toggle();

            window.top.ClearToast();

            $.ajax({
                type: 'GET',
                url: PageURL + '?handler=ResetPassword',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function (response) {
                    // Only handle successful outcomes here
                    window.top.ShowSnack('success', 'Password reset email successfully sent.', 7000, true);

                    $('#itemID').val(null);
                    CloseModal();
                    ReloadData();
                },
                error: function (xhr) {

                    let message = "An error occurred.";

                    if (xhr.responseJSON && xhr.responseJSON.error) {
                        message = xhr.responseJSON.error;
                    }

                    window.top.ShowToast('danger', 'Error!', message, 0, false);
                    StopLoadingAll();
                },
                complete: function () {

                    $('#lblReset').show();
                    $('#imgReset').hide();
                    $('#btnReset').prop('disabled', false);
                    $('#btnResetCancel').prop('disabled', false);
                    $('#btnResetClose').prop('disabled', false);
                }
            });
        }

    </script>

}