@page
@model SearchAFile.Web.Pages.Companies.DeleteModel

<div class="card">

    <div class="card-header">
        <label class="fs-5"><i class="fa-solid fa-trash text-danger"></i> @Model.Company.Company1</label>
    </div>

    <div class="card-body cus-bootstrap-table-striped p-0">

        <div class="row align-items-center m-0">
            <div class="cus-col col-sm-6">
                <div class="form-floating">
                    <select asp-for="Company.Active" class="form-select" disabled>
                        <option value="" hidden>- Status -</option>
                        <option value="True">Active</option>
                        <option value="False">Inactive</option>
                    </select>
                    <label asp-for="Company.Active" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-6">
                <div class="form-floating">
                    <select asp-for="Company.Lock" class="form-select" disabled>
                        <option value="" hidden>- Lock/Unlock -</option>
                        <option value="True">Locked</option>
                        <option value="False">Unlocked</option>
                    </select>
                    <label asp-for="Company.Lock" class="control-label">
                        @Html.DisplayNameFor(model => model.Company.Lock)
                        <i class="fa-solid fa-circle-question cus-text-primary" title="This sets whether or not your content is locked behind a login for all of your employees" data-bs-placement="top" data-bs-toggle="tooltip"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="cus-col col-sm-6">
                <div class="form-floating">
                    <input type="text" asp-for="Company.Company1" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.Company1)" disabled />
                    <label asp-for="Company.Company1" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-6">
                <div class="form-floating">
                    <input type="text" asp-for="Company.Url" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.Url)" disabled />
                    <label asp-for="Company.Url" class="control-label"></label>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <input type="text" asp-for="Company.ContactName" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.ContactName)" disabled />
                    <label asp-for="Company.ContactName" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <input type="text" asp-for="Company.ContactEmailAddress" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.ContactEmailAddress)" disabled />
                    <label asp-for="Company.ContactEmailAddress" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="form-floating">
                    <input type="text" asp-for="Company.ContactPhoneNumber" class="form-control" placeholder="(___) ___-____" data-bs-slots="_" disabled />
                    <label asp-for="Company.ContactPhoneNumber" class="control-label"></label>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="cus-col col-12">
                <div class="form-floating">
                    <textarea asp-for="Company.Address" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.Address)" style="height: 6.1rem;" disabled></textarea>
                    <label asp-for="Company.Address" class="control-label"></label>
                </div>
            </div>
        </div>

        <div class="row align-items-center m-0">
            <div class="cus-col col-sm-3">
                <div class="form-floating">
                    <input type="color" asp-for="Company.PrimaryColor" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.PrimaryColor)" disabled />
                    <label asp-for="Company.PrimaryColor" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-3">
                <div class="form-floating">
                    <input type="color" asp-for="Company.SecondaryColor" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.SecondaryColor)" disabled />
                </div>
            </div>
            <div class="cus-col col-sm-3">
                <div class="form-floating">
                    <input type="color" asp-for="Company.PrimaryTextColor" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.PrimaryTextColor)" disabled />
                    <label asp-for="Company.PrimaryTextColor" class="control-label"></label>
                </div>
            </div>
            <div class="cus-col col-sm-3">
                <div class="form-floating">
                    <input type="color" asp-for="Company.SecondaryTextColor" class="form-control" placeholder="@Html.DisplayNameFor(model => model.Company.SecondaryTextColor)" disabled />
                    <label asp-for="Company.SecondaryTextColor" class="control-label"></label>
                </div>
            </div>
        </div>

        <div class="row align-items-top m-0">
            <div class="cus-col col-sm-4">
                <div class="d-flex justify-content-center" style="height: 75px;">
                    <img id="HeaderLogoPreview" class="d-block" style="max-height: 75px; max-width: 100%;" src="~/CompanyFiles/@Model.Company.HeaderLogo">
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="d-flex justify-content-center" style="height: 75px;">
                    <img id="FooterLogoPreview" class="d-block" style="max-height: 75px; max-width: 100%;" src="~/CompanyFiles/@Model.Company.FooterLogo">
                </div>
            </div>
            <div class="cus-col col-sm-4">
                <div class="d-flex justify-content-center" style="height: 75px;">
                    <img id="EmailLogoPreview" class="d-block" style="max-height: 75px; max-width: 100%;" src="~/CompanyFiles/@Model.Company.EmailLogo">
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer text-center">
        <form method="post">
            <input type="hidden" asp-for="Company.CompanyId" />
            <a asp-page="./Index" class="btn btn-outline-secondary">
                <i class="fa-solid fa-arrow-left"></i>
                Back to List
            </a>
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @Model.Company.Company1? This cannot be undone.');">
                Delete
                <i class="fa-solid fa-trash"></i>
            </button>
        </form>
    </div>

</div>