@page
@model SearchAFile.Web.Pages.Companies.DetailsModel
@{
    ViewData["Title"] = "Company Details";
}

<div class="card m-auto" style="max-width: 30rem;">

    <div class="card-header">
        <label class="fs-3">@ViewData["Title"]</label>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.Company1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.Company1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.ContactName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.ContactName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.ContactEmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.ContactEmailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.ContactPhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.ContactPhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.HeaderLogo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.HeaderLogo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.FooterLogo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.FooterLogo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.EmailLogo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.EmailLogo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.PrimaryColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.PrimaryColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.SecondaryColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.SecondaryColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.PrimaryTextColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.PrimaryTextColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.SecondaryTextColor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.SecondaryTextColor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.Url)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.Lock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.Lock)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Company.Active)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Company.Active)
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
        &nbsp;
        <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId" class="btn btn-primary">Edit</a>
    </div>

</div>