@page
@model SearchAFile.Web.Pages.Company.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Company1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].ContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].ContactEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].ContactPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].HeaderLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].FooterLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].EmailLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].PrimaryColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].SecondaryColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].PrimaryTextColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].SecondaryTextColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Lock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Company) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeaderLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FooterLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryTextColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryTextColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CompanyId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CompanyId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
